# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
    tags:
      - 'v*.*.*'  # Trigger on version tags for releases
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Publish
      run: dotnet publish --configuration Release --output ./release

    - name: List Release Files
      run: dir ./release  # Use 'ls -la ./release' for Unix-based systems

    - name: Upload Release Binaries
      uses: actions/upload-artifact@v4
      with:
        name: my-release-binaries
        path: ./release

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:

    - name: Download Release Binaries
      uses: actions/download-artifact@v4
      with:
        name: my-release-binaries

    - name: List Downloaded Files
      run: ls -la  # Verify the files downloaded correctly

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./release/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
